<table>
  <tr>
    <th>Product Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Stock</th>
  </tr>
  <% products.each do |product| %>
    <tr>
      <%= erb :_product, :layout => false, :locals => { :product => product } %>
    </tr>
  <% end %>
</table>
