<table class='cart_table'>
  <h3>Shopping Cart</h3>
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
  <tr>
  <% @cart.products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td>x<%= product.stock %></td>
      <td>@ <%= product.formatted_price %></td>
    </tr>
  <% end %>
  <tr>
    <th>Total:</th>
    <th></th>
    <th><%= @cart.formatted_total %></th>
  </tr>
</table>