<table class='cart_table'>
  <h3>Shopping Cart</h3>
  <a href='#' id='checkout_btn'>Checkout</a>
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
  <tr>
  <% @cart.products.each do |product| %>
    <tr>
      <%= erb :_shopping_cart_item, :layout => false, :locals => { :product => product } %>
    </tr>
  <% end %>
  <tr>
    <th>Total:</th>
    <th></th>
    <th id='total'><%= @cart.formatted_total %></th>
  </tr>
  <tr>
    <td>
      <em id='text_total'>You saved <%= @cart.formatted_discount %></em>
    </td>
  </tr>
</table>