<h3>Vouchers</h3>
<table>
<% @vouchers.each do |voucher| %>
  <tr class='voucher'>
    <td>
      <%= voucher.formatted_discount %> off <%= voucher.description %>
    </td>
    <td>
      <a href='voucher/redeem/<%= voucher.id %>' class='redeem_btn'>Redeem</a>
    </td>
  </tr>
<% end %>
</table>