.container {
  width: 700px;
  float: left;
  display: inline-block;
}

.container table {
  margin: 0 auto;
}

.cart {
  width: 450px;
  float: left;
  display: inline-block;
}

.vouchers {
  width: 450px;
  float: left;
  display: inline-block;
}

.alert {
  height: 50px;
}